.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 60%;
	gap: 30px;
	margin: 50px auto;
	font-family: 'Roboto', sans-serif;
}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 45%;
}

.icon {
	width: 130px;
	height: 130px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.icon > img {
	width: 75px;
	filter: invert(100%) sepia(0%) saturate(7468%) hue-rotate(20deg) brightness(107%) contrast(106%);
}

.number {
	position: absolute;
	top: -10px;
	left: -10px;
	width: 30px;
	height: 30px;
	text-align: center;
	font-size: 12px;
	font-weight: 700;
	line-height: 25px;
	background-color: whitesmoke;
	border: 3px solid;
	border-radius: 50%;
}

.card:nth-child(1) .icon {
	background-color: turquoise;
}

.card:nth-child(1) .number {
	color: turquoise;
}

.card:nth-child(2) .icon {
	background-color: dodgerblue;
}

.card:nth-child(2) .number {
	color: dodgerblue;
}

.card:nth-child(3) .icon {
	background-color: indianred;
}

.card:nth-child(3) .number {
	color: indianred;
}

.card:nth-child(4) .icon {
	background-color: darkgray;
}

.card:nth-child(4) .number {
	color: darkgray;
}

.heading {
	text-align: center;
	color: indianred;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 700;
	width: 120px;
	margin-top: 10px;
}

.text {
	width: 140px;
	text-align: center;
	font-size: 10px;
	line-height: 1.8;
	color: darkgray;
	margin-top: 10px;
}

@media (min-width: 1024px) {
	.container {
		width: 800px;
	}
	.card {
		width: auto;
	}
}
